* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

.D_logo {
  padding: 5px;
  height: 80px;
  max-width: 55px;
  max-height: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 4px 8px #0a0a0b);
}

button {
  padding: 2px 15px;
  font-weight: 700;
  font-size: 15px;
  color: #000;
  margin: 10px 10px;
  border: 1px solid #ccc;
}

ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  margin-left: 20px;
}

h3 {
  color: #000;
  font-weight: bold;
  margin: 1px;
}

.btn-s {
  justify-content: center;
  margin: 10px 10px;
}

.btn-d {
  justify-content: center;
  margin: 10px 10px;
}

.btn-g {
  justify-content: center;
  margin: 10px 10px;
}

.carousel-item {
  max-height: 850px;
  text-align: left;
}

.div-1 {
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #fff;
}

.div-5 {
  font-size: 5em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #fff;
}

.paragraph {
  color: #fff;
  font-weight: 100;
  font-size: 3em;
  margin-top: 5rem;
}

.paragraph-s {
  color: #fff;
  font-weight: 100;
  font-size: 3em;
  margin-top: 6rem;
  margin-top: 5rem;
  line-height: 1em;
}

.paragraph-t {
  color: #fff;
  font-weight: 200;
  font-size: 3em;
  margin-top: 10rem;
}

.h-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

.general_one {
  background-color: #F3F6F4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;
}

.container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0, 0, 0.5);
  margin: 10px;
}

.box .imgBX {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .imgBX img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box:hover .imgBX img {
  opacity: 0;
}

.box .content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 66px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  font-weight: bold;
}

.box:hover .content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.box .content h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.box .content p {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1rem;
  transition: 0.5s;
  text-align: justify;
  font-size: 13px;
}

.box:hover .content p {
  opacity: 1;
  transition-delay: 0.5s;
}



::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(40deg, #b3b1b3 14%, #ffffff 64%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(40deg, #8c8a8c 14%, #ffffff 64%);
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}