* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

.div-container {
  background-image: url("./img/pexels-alena-darmel-7710141.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 61vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.h-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  color: #fff;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1em;
  margin: 20em;
  text-transform: uppercase;
}

.div-alinha_paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  width: 100%;
}

.paragraph {
  height: 15vw;
  width: 33vw;
  font-weight: bold;
  letter-spacing: 4px;
  backdrop-filter: blur(10px);
  text-transform: unset;
  padding: 36px;
  margin: 10px;
}


.div-about {
  width: 100%;
  background-image: url("./img/pexels-alena-darmel-7710074.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 32px;
}
.div-about img {
  height: auto;
  width: 420px;
}

.div-about-text {
  width: 550px;
}

.div-main {
  width: 1130px;
  margin-bottom: 10px;
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.h-1{
  color: #000;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1rem;
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.div-about-text  {
  color: #fff;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.div-about-text .h-5 {
  color: #000;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
span {
  color: #f9004d;
}

.div-about-text p {
  color: #000;
  letter-spacing: 1px;
  line-height: 28px;
  height: 15vw;
  width: 55vw;
  font-size: 18px;
  font-weight: 800;
  backdrop-filter: blur(10px);
  text-transform: unset;
  padding: 36px;
  margin-right:45px;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(40deg, #b3b1b3 14%, #ffffff 64%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(40deg, #8c8a8c 14%, #ffffff 64%);
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}