* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.D_logo {
  padding: 5px;
  height: 80px;
  max-width: 55px;
  max-height: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 4px 8px #0a0a0b);
}
button {
  padding: 2px 15px;
  font-weight: 700;
  font-size: 15px;
  color: #000;
  margin: 10px 10px;
  border: 1px solid #ccc;
}
ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  margin-left: 20px;
}

.btn-s {
  justify-content: center;
  margin: 10px 10px;
}
.btn-d {
  justify-content: center;
  margin: 10px 10px;
}
.btn-g {
  justify-content: center;
  margin: 10px 10px;
}
.carousel-item {
  max-height: 750px;
  text-align: left;
}

.div-1 {
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #fff;
}
.div-5 {
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #fff;
}

.paragraph {
  color: #82ABA1;
  font-weight: 800;
  font-size: 3em;
  margin-top: 5rem;
}
.paragraph-sub {
  color: #B88700;
  font-weight: bold;
  font-size: 3em;
  margin-top: 10rem;
}
.paragraph-title {
  color: #98838F;
  font-weight: bold;
  font-size: 3em;
  margin-top: 10rem;
}
